{% extends 'layouts/master.html' %}

{% load i18n static %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{% trans 'Profile' %} {{ profile.get_full_name }}</h3>
                <p class="text-subtitle text-muted">{% trans 'Profile info' %}</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Profile' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
<div class="page-heading">
    <h3>{% trans "Profile Statistics" %}</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
           <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans 'Profile Information' %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">{% trans 'Full Name' %}</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{ profile.get_full_name }}</p>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">{% trans 'Email' %}</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{ profile.user.email }}</p>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">{% trans 'Phone' %}</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{ profile.phone }}</p>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">{% trans 'Birth date' %}</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{ profile.birth_date }}</p>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">{% trans 'Address' %}</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{ profile.user.userlocation.get_full_address }}</p>
                                </div>
                            </div>
                        <!-- Information about user profile -->
                        </div>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans 'Total actions' %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <svg class="bi text-primary" width="32" height="32" fill="blue"
                                            style="width:10px">
                                            <use
                                                xlink:href="{% static 'assets/images/bootstrap-icons.svg#circle-fill' %}" />
                                        </svg>
                                        <h5 class="mb-0 ms-3">{% trans 'Deals are made' %}</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5 class="mb-0">0</h5>
                                </div>
                                <div class="col-12">
                                    {% comment %} <div id="chart-europe"></div> {% endcomment %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <svg class="bi text-success" width="32" height="32" fill="blue"
                                            style="width:10px">
                                            <use
                                                xlink:href="{% static 'assets/images/bootstrap-icons.svg#circle-fill' %}" />
                                        </svg>
                                        <h5 class="mb-0 ms-3">{% trans 'Invited users' %}</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5 class="mb-0">0</h5>
                                </div>
                                <div class="col-12">
                                    {% comment %} <div id="chart-america"></div> {% endcomment %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <svg class="bi text-danger" width="32" height="32" fill="blue"
                                            style="width:10px">
                                            <use
                                                xlink:href="{% static 'assets/images/bootstrap-icons.svg#circle-fill' %}" />
                                        </svg>
                                        <h5 class="mb-0 ms-3">{% trans 'Wallet balance' %}</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5 class="mb-0">0</h5>
                                </div>
                                <div class="col-12">
                                    {% comment %} <div id="chart-indonesia"></div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans 'Latest Deals' %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Product' %}</th>
                                            <th>{% trans 'Type' %}</th>
                                            <th>{% trans 'Quantity' %}</th>
                                            <th>{% trans 'Approved' %}</th>
                                            <th>{% trans 'Timestamp' %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for deals in profile.deal %}                                                                                       
                                        <tr>
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-md">
                                                        <img src="assets/images/faces/5.jpg">
                                                    </div>
                                                    <p class="font-bold ms-3 mb-0">{{ deals.product }}</p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{ deals.type }}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0">{{ deals.quantity }}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0">{{ deals.approved }}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0">{{ deals.timestamp }}</p>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5" class="col-auto">
                                                <p class="mb-0 text-center">{% trans 'This user have not any deals yet!' %}</p>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{% static 'assets/images/faces/1.jpg' %}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">{{ profile.get_full_name }}</h5>
                            <h6 class="text-muted mb-0">{{ profile.user.email }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>{% trans 'Recent Invited' %}</h4>
                </div>
                <div class="card-content pb-4">
                    <div class="px-4">
                        <button class='btn btn-block btn-xl btn-outline-primary font-bold mt-3'>{% trans 'See all list' %}</button>
                    </div>
                </div>
            </div>
<!--            <div class="card">
                <div class="card-header">
                    <h4>Visitors Profile</h4>
                </div>
                <div class="card-body">
                    <div id="chart-visitors-profile"></div>
                </div>
            </div>
        </div> -->
    </section>
</div>  
</div> 
{% endblock content %}
    