{% extends 'layouts/master.html' %}
{% load static i18n %}
{% block content %}
<div id="referral-invite-popup">
    <h2>{% trans 'Invite Referral Users' %}</h2>
    <form id="referral-invite-form" action="{% url 'referral_invite' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">{% trans 'Send Invite' %}</button>
    </form>
    <div id="referral-invite-success" style="display: none;">{% trans 'Referral invite sent!' %}</div>
    <div id="referral-invite-error" style="display: none; color: red;"></div>
    <button id="close-referral-invite-popup" class="btn btn-secondary">{% trans 'Close' %}</button>
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'assets/js/referral_invite_popup.js' %}"></script>
{% endblock %}