{% extends "layouts/master.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
      <h2>{{ object.name }}</h2>
      <p>{{ object.description }}</p>
      <p>{{ object.category }}</p>
      <p>{{ object.price }}</p>
      <p>Sold count: {{ object.sold_count }}</p>
    </div>
    <div class="col-md-6">
      {% if product_price %}
        <h4>Price in your location: {{ product_price.price }}</h4>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Buy</button>
        </form>
      {% else %}
        <h4>This product is not available in your location.</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}