{% extends 'layouts/master.html' %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{% trans 'Ticket detail' %}</h3>
                <p class="text-subtitle text-muted">{% trans 'Ticket detail, where you can reply to admin' %}</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Ticket detail' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section id="content-types">
        <div class="row">
                <h4>{{ tickets.subject }}</h4>
                <p>{{ tickets.text }}</p>
                <p>{{ tickets.timestamp }}</p>
                <span>{% trans 'Reply' %}</span>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary" value="{% trans 'Post' %}">
                </form>
        </div>
    </section>
</div>
{% endblock content %}
    